{{#each this}}
    {{#if _id}}
    <li>
        <div class="row">
            <div class="due datefield">{{due}}</div>
            <div class="title">{{title}}</div>
            <div class="importance">{{importance}}⚡</div>
            <a href="/note/{{ _id }}"><button>Edit</button></a>
        </div>
        <div class="row">
            <div class="datefield">
                <div class="created">{{created}}</div>
                <div><input type="checkbox"> Fixed</div>
            </div>
            <div class="desc">{{desc}}</div>
        </div>
    </li>
    {{/if}}
{{/each}}
