{{#each this}}
    {{#if _id}}
    <li>
        <div class="row">
            <div class="col1">{{#fivesymbols importance}}⚡{{/fivesymbols}}</div>
            <div class="title">{{title}}</div>
            <a href="/note/{{ _id }}"><button>Edit</button></a>
        </div>
        <div class="row">
            <div class="col1">
                <div><span class="lbl">Due: </span>{{#nicedate}}{{due}}{{/nicedate}}</div>
                <div><span class="lbl">Created: </span>{{created}}</div>
                <div><span class="lbl">Done: </span><input type="checkbox" class="done" disabled {{#if finished}}checked{{/if}}></div>
            </div>
            <textarea class="desc" disabled>{{desc}}</textarea>
        </div>
    </li>
    {{/if}}
{{/each}}
